@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    text-decoration: none;
    list-style: none;
}
body{
    background-image: url(../img/background\ \(1\).png),url(../img/background.png);
    background-size: 33% 100%,25% 50%;
    background-repeat: no-repeat,no-repeat;
    background-position: right,left;
}
h1{
    font-family:Dela Gothic One ;
}

.container{
    max-width: 1200px;
    padding-left: 50px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/*---header---*/

.header-main{
    margin-top: 46px;
}

.bar ul{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.bar li a{
    color: var(--Black, #2C3038);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.home{
    display: grid;
}

.menu{
    width: 24px;
    height: 24px;
    border: 0;
    background: transparent;
}


/*---1st-section---*/

.w100{
    width: 100%;
}

.st-sec{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.line{
    display: flex;
    gap: 190px;
    padding-top: 80px;
}

.mandreen{
    color: var(--Orange, #FE895E);
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: 96px;
}

.h1{
    color: var(--Black, #2C3038);
    font-family: "Dela Gothic One";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 96px;
}

.d-color{
    font-family: "Dela Gothic One";
    color: var(--Orange, #FE895E);
}

.para{
    color: var(--Black, #2C3038);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    padding-bottom: 50px;
}

.view-menu{
    gap: 5px;
    width: 212px;
    height: 53px;
    background: var(--Orange, #FE895E);
    box-shadow: 0px 24px 50px 0px rgba(0, 0, 0, 0.10);
}

.view-menu a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px;
}

.review-card{
    height: 121px;
    width: 260px;
    background: white;
    box-shadow: 0px 24px 50px 0px rgba(0, 0, 0, 0.10);
}

.member{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 18px 15px 15px;
}

.para-rev{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 18px 15px 15px;
}

.cards{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 50px;
}

.delivery-card{
    width: 277px;
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    background: white;
    box-shadow: 0px 24px 50px 0px rgba(0, 0, 0, 0.10);
    color: var(--Black, #2C3038);
}

.delivery-card img{
    background: var(--Orange, #FE895E);
    width: 50px;
    height: 50px;
}

.Delivery-text span{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.de{
    font-size: 16px;
    font-weight: 400;
}

.num{
    font-size: 20px;
    font-weight: 700;
}

.award{
    width: 240px;
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    background: white;
    box-shadow: 0px 24px 50px 0px rgba(0, 0, 0, 0.10);
    color: var(--Black, #2C3038);
}

.award img{
    background: var(--Orange, #FE895E);
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

.award-text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.ha{
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

.ra{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.social{
    display: flex;
    align-items: center;
    gap: 15px;
}